SECRET_KEY=dein-langer-geheimer-schluessel
DEBUG=False
ALLOWED_HOSTS=89.167.0.28,sportheim.westfalia-osterwick.de

# E-Mail (optional)
EMAIL_BACKEND=django.core.mail.backends.smtp.EmailBackend
EMAIL_HOST=smtp.deinprovider.de
EMAIL_PORT=587
EMAIL_USE_TLS=True
EMAIL_HOST_USER=
EMAIL_HOST_PASSWORD=
DEFAULT_FROM_EMAIL=noreply@westfalia-osterwick.de
